<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/Firefox.app/Contents/MacOS/firefox</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Mozilla Corporation (43AQ936H96)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.security.cs.allow-dyld-environment-variables</key>
				<true/>
				<key>com.apple.security.cs.allow-jit</key>
				<false/>
				<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
				<true/>
				<key>com.apple.security.cs.disable-executable-page-protection</key>
				<false/>
				<key>com.apple.security.cs.disable-library-validation</key>
				<true/>
				<key>com.apple.security.device.audio-input</key>
				<true/>
				<key>com.apple.security.device.camera</key>
				<true/>
				<key>com.apple.security.get-task-allow</key>
				<false/>
				<key>com.apple.security.personal-information.location</key>
				<true/>
				<key>com.apple.security.smartcard</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/Applications/Joplin.app/Contents/Frameworks/Joplin Helper (Renderer).app/Contents/MacOS/Joplin Helper (Renderer)</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Laurent Cozic (A9BXAFS6CT)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.security.cs.allow-jit</key>
				<true/>
				<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
				<true/>
				<key>com.apple.security.cs.disable-library-validation</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>net.cozic.joplin-desktop.helper.Renderer</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/Applications/Netiquette.app/Contents/MacOS/Netiquette</key>
	<dict>
		<key>action</key>
		<integer>0</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Objective-See, LLC (VBG97UB4TA)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict/>
			<key>signatureIdentifier</key>
			<string>com.objective-see.Netiquette</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/Applications/Skype for Business.app/Contents/MacOS/Skype for Business</key>
	<dict>
		<key>action</key>
		<integer>0</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Skype Communications S.a.r.l (AL798K98FX)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.assets.pictures.read-only</key>
				<true/>
				<key>com.apple.security.device.camera</key>
				<true/>
				<key>com.apple.security.device.microphone</key>
				<true/>
				<key>com.apple.security.device.usb</key>
				<true/>
				<key>com.apple.security.files.downloads.read-write</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
				<key>com.apple.security.personal-information.location</key>
				<true/>
				<key>com.apple.security.temporary-exception.apple-events</key>
				<array>
					<string>com.apple.iTunes</string>
					<string>com.microsoft.outlook</string>
					<string>com.microsoft.autoupdate2</string>
				</array>
				<key>com.apple.security.temporary-exception.mach-register.global-name</key>
				<array>
					<string>com.apple.screencapture.interactive</string>
				</array>
				<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
				<array>
					<string>com.microsoft.outlook</string>
					<string>com.microsoft.autoupdate2</string>
					<string>com.apple.universalaccess</string>
					<string>com.microsoft.OutlookSkypeIntegration</string>
					<string>com.microsoft.office</string>
				</array>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.microsoft.SkypeForBusiness</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/Applications/TaskExplorer.app/Contents/MacOS/TaskExplorer</key>
	<dict>
		<key>action</key>
		<integer>0</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Objective-See, LLC (VBG97UB4TA)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict/>
			<key>signatureIdentifier</key>
			<string>com.objective-see.TaskExplorer</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/Applications/Thunderbird.app/Contents/MacOS/thunderbird</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Mozilla Corporation (43AQ936H96)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.security.automation.apple-events</key>
				<true/>
				<key>com.apple.security.cs.allow-dyld-environment-variables</key>
				<true/>
				<key>com.apple.security.cs.allow-jit</key>
				<false/>
				<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
				<true/>
				<key>com.apple.security.cs.disable-executable-page-protection</key>
				<false/>
				<key>com.apple.security.cs.disable-library-validation</key>
				<true/>
				<key>com.apple.security.device.audio-input</key>
				<true/>
				<key>com.apple.security.device.camera</key>
				<true/>
				<key>com.apple.security.get-task-allow</key>
				<false/>
				<key>com.apple.security.personal-information.addressbook</key>
				<true/>
				<key>com.apple.security.personal-information.location</key>
				<true/>
				<key>com.apple.security.smartcard</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>org.mozilla.thunderbird</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app/Contents/MacOS/Microsoft Update Assistant.app/Contents/MacOS/Microsoft Update Assistant</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Microsoft Corporation (UBF8T346G9)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<false/>
				<key>com.apple.security.automation.apple-events</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.microsoft.autoupdate.fba</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/System/Library/CoreServices/Spotlight.app/Contents/MacOS/Spotlight</key>
	<dict>
		<key>action</key>
		<integer>0</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.FaceTime.NoPrompt</key>
				<true/>
				<key>com.apple.accounts.appleaccount.fullaccess</key>
				<true/>
				<key>com.apple.application-identifier</key>
				<string>com.apple.spotlight</string>
				<key>com.apple.coreduetd.allow</key>
				<true/>
				<key>com.apple.developer.maps</key>
				<true/>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>com.apple.stocks</string>
				<key>com.apple.locationd.effective_bundle</key>
				<true/>
				<key>com.apple.private.Safari.History</key>
				<true/>
				<key>com.apple.private.accounts.allaccounts</key>
				<true/>
				<key>com.apple.private.contactsui</key>
				<true/>
				<key>com.apple.private.coreservices.canaccessanysharedfilelist</key>
				<string>read-only</string>
				<key>com.apple.private.corespotlight.internal</key>
				<true/>
				<key>com.apple.private.corespotlight.search.internal</key>
				<true/>
				<key>com.apple.private.dmd.policy</key>
				<true/>
				<key>com.apple.private.launchservices.cansetapplicationstrusted</key>
				<true/>
				<key>com.apple.private.librarian.container-proxy</key>
				<true/>
				<key>com.apple.private.network.socket-delegate</key>
				<true/>
				<key>com.apple.private.screen-time</key>
				<true/>
				<key>com.apple.private.spotlight.parsec</key>
				<true/>
				<key>com.apple.private.spotlight.search.internal</key>
				<true/>
				<key>com.apple.private.tcc.allow</key>
				<array>
					<string>kTCCServiceAccessibility</string>
					<string>kTCCServiceAddressBook</string>
					<string>kTCCServiceAppleEvents</string>
					<string>kTCCServiceCalendar</string>
					<string>kTCCServiceLocation</string>
					<string>kTCCServiceReminders</string>
					<string>kTCCServiceSystemPolicyAllFiles</string>
				</array>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.personal-information.addressbook</key>
				<true/>
				<key>com.apple.security.personal-information.calendars</key>
				<true/>
				<key>com.apple.security.personal-information.contacts</key>
				<true/>
				<key>com.apple.security.personal-information.location</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.Spotlight</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/AMPLibrary.framework/Versions/A/Support/AMPLibraryAgent</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.PairingManager.Read</key>
				<true/>
				<key>com.apple.PairingManager.RemovePeer</key>
				<true/>
				<key>com.apple.PairingManager.Write</key>
				<true/>
				<key>com.apple.amp.artwork.client</key>
				<true/>
				<key>com.apple.amp.mediasharingd.client</key>
				<true/>
				<key>com.apple.application-identifier</key>
				<string>com.apple.AMPLibraryAgent</string>
				<key>com.apple.authkit.client.internal</key>
				<true/>
				<key>com.apple.avfoundation.allow-system-wide-context</key>
				<true/>
				<key>com.apple.avfoundation.allows-access-to-device-list</key>
				<true/>
				<key>com.apple.avfoundation.allows-set-output-device</key>
				<true/>
				<key>com.apple.cdp.recoverykey</key>
				<true/>
				<key>com.apple.mediaremote.allow</key>
				<array>
					<string>TVPairing</string>
				</array>
				<key>com.apple.private.DeviceSupportUpdater.requestor</key>
				<true/>
				<key>com.apple.private.accounts.allaccounts</key>
				<true/>
				<key>com.apple.private.aps-connection-initiate</key>
				<true/>
				<key>com.apple.private.audio.notification-wake-audio</key>
				<true/>
				<key>com.apple.private.bmk.allow</key>
				<true/>
				<key>com.apple.private.bookkit</key>
				<true/>
				<key>com.apple.private.commerce</key>
				<array>
					<string>Accounts</string>
				</array>
				<key>com.apple.private.fpsd.client</key>
				<true/>
				<key>com.apple.private.podcasts.PodcastContentService.client</key>
				<true/>
				<key>com.apple.private.rtcreportingd</key>
				<true/>
				<key>com.apple.private.security.storage.mobilesync.heritable</key>
				<true/>
				<key>com.apple.private.sqlite.sqlite-encryption</key>
				<true/>
				<key>com.apple.private.tcc.allow</key>
				<array>
					<string>kTCCServiceAddressBook</string>
					<string>kTCCServicePhotos</string>
					<string>kTCCServiceAppleEvents</string>
					<string>kTCCServiceSystemPolicyAllFiles</string>
				</array>
				<key>keychain-access-groups</key>
				<array>
					<string>com.apple.pairing</string>
					<string>com.apple.airplay</string>
					<string>apple</string>
				</array>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.AMPLibraryAgent</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/ApplePushService.framework/apsd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.coreduetd.allow</key>
				<true/>
				<key>com.apple.coreduetd.context</key>
				<true/>
				<key>com.apple.private.dark-wake-network-reachability</key>
				<true/>
				<key>com.apple.private.iokit.interactive-push</key>
				<true/>
				<key>com.apple.private.network.socket-delegate</key>
				<true/>
				<key>com.apple.private.timed.sources</key>
				<array>
					<string>APNS</string>
				</array>
				<key>com.apple.timed</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.apsd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/AuthKit.framework/Versions/A/Support/akd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>abs-client</key>
				<string>143531244</string>
				<key>adi-client</key>
				<string>572356293</string>
				<key>application-identifier</key>
				<string>com.apple.akd</string>
				<key>aps-connection-initiate</key>
				<true/>
				<key>com.apple.CommCenter.fine-grained</key>
				<array>
					<string>spi</string>
					<string>identity</string>
				</array>
				<key>com.apple.CompanionLink</key>
				<true/>
				<key>com.apple.accounts.idms.fullaccess</key>
				<true/>
				<key>com.apple.appletv.pbs.user-presentation-service-access</key>
				<true/>
				<key>com.apple.authkit.client.internal</key>
				<true/>
				<key>com.apple.coreidvd.spi</key>
				<true/>
				<key>com.apple.keystore.lockassertion</key>
				<true/>
				<key>com.apple.keystore.sik.access</key>
				<true/>
				<key>com.apple.mobileactivationd.device-identifiers</key>
				<true/>
				<key>com.apple.mobileactivationd.spi</key>
				<true/>
				<key>com.apple.nano.nanoregistry</key>
				<true/>
				<key>com.apple.private.accounts.allaccounts</key>
				<true/>
				<key>com.apple.private.adid</key>
				<true/>
				<key>com.apple.private.applemediaservices</key>
				<true/>
				<key>com.apple.private.aps-connection-initiate</key>
				<true/>
				<key>com.apple.private.associated-domains</key>
				<true/>
				<key>com.apple.private.ids.messaging</key>
				<array>
					<string>com.apple.private.alloy.anisette</string>
				</array>
				<key>com.apple.private.ids.phone-number-authentication</key>
				<true/>
				<key>com.apple.private.keychain.circle.join</key>
				<true/>
				<key>com.apple.private.notificationcenter-system</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>com.apple.AuthKit</string>
					</dict>
				</array>
				<key>com.apple.private.octagon</key>
				<true/>
				<key>com.apple.private.security.storage.Safari</key>
				<true/>
				<key>com.apple.private.storagekitd.info</key>
				<true/>
				<key>com.apple.security.attestation.access</key>
				<true/>
				<key>com.apple.security.exception.mach-lookup.global-name</key>
				<array>
					<string>com.apple.SharedWebCredentials</string>
					<string>com.apple.fairplayd.versioned</string>
					<string>com.apple.mobile.keybagd.xpc</string>
				</array>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.system-container</key>
				<true/>
				<key>com.apple.sharing.Services</key>
				<true/>
				<key>com.apple.springboard.CFUserNotification</key>
				<true/>
				<key>com.apple.springboard.activateRemoteAlert</key>
				<true/>
				<key>com.apple.springboard.opensensitiveurl</key>
				<true/>
				<key>com.apple.symptom_diagnostics.report</key>
				<true/>
				<key>com.apple.usermanagerd.persona.background</key>
				<true/>
				<key>com.apple.usermanagerd.persona.fetch</key>
				<true/>
				<key>fairplay-client</key>
				<string>508119322</string>
				<key>keychain-access-groups</key>
				<array>
					<string>apple</string>
					<string>com.apple.akd</string>
					<string>com.apple.cfnetwork</string>
				</array>
				<key>keychain-cloud-circle</key>
				<true/>
				<key>platform-application</key>
				<true/>
				<key>seatbelt-profiles</key>
				<array>
					<string>akd</string>
				</array>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.akd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/CoreParsec.framework/parsecd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>com.apple.parsecd</string>
				<key>com.apple.CoreRoutine.LocationOfInterest</key>
				<true/>
				<key>com.apple.accounts.appleaccount.fullaccess</key>
				<true/>
				<key>com.apple.coreduetd.allow</key>
				<true/>
				<key>com.apple.datadetectors.source-write.system</key>
				<true/>
				<key>com.apple.locationd.activity</key>
				<true/>
				<key>com.apple.locationd.effective_bundle</key>
				<true/>
				<key>com.apple.managedconfiguration.profiled-access</key>
				<true/>
				<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
				<array>
					<string>UniqueDeviceID</string>
					<string>RegionCode</string>
				</array>
				<key>com.apple.private.dprivacyd.allow</key>
				<true/>
				<key>com.apple.private.kernel.override-cpumon</key>
				<true/>
				<key>com.apple.private.networkserviceproxy</key>
				<true/>
				<key>com.apple.private.subscriptionservice.all-sources.read-only</key>
				<true/>
				<key>com.apple.proactive.PersonalizationPortrait.NamedEntity.readWrite</key>
				<true/>
				<key>com.apple.proactive.PersonalizationPortrait.Topic.readWrite</key>
				<true/>
				<key>com.apple.security.exception.mach-lookup.global-name</key>
				<array>
					<string>com.apple.proactive.PersonalizationPortrait.Topic.readWrite</string>
					<string>com.apple.proactive.PersonalizationPortrait.NamedEntity.readWrite</string>
					<string>com.apple.itunescloud.music-subscription-status-service</string>
				</array>
				<key>com.apple.security.exception.shared-preference.read-only</key>
				<array>
					<string>com.apple.purplebuddy</string>
					<string>com.apple.itunescloud</string>
				</array>
				<key>com.apple.symptom_diagnostics.report</key>
				<true/>
				<key>seatbelt-profiles</key>
				<array>
					<string>parsecd</string>
				</array>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.parsecd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/GeoServices.framework/Versions/A/XPCServices/com.apple.geod.xpc/Contents/MacOS/com.apple.geod</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.Maps.mapspushd.geod</key>
				<true/>
				<key>com.apple.private.network.socket-delegate</key>
				<true/>
				<key>com.apple.private.security.storage.locationd</key>
				<true/>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.exception.files.absolute-path.read-only</key>
				<array>
					<string>/System/Library/Preferences/Logging</string>
					<string>/AppleInternal/Library/Preferences/Logging</string>
					<string>/Library/Preferences/Logging</string>
				</array>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
				<array>
					<string>/Library/Caches/com.apple.DiagnosticReporting.HasBeenAppleInternal</string>
					<string>/private/var/db/mds/system/mds.lock</string>
				</array>
				<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
				<array>
					<string>/Library/com.apple.geod/</string>
					<string>/Library/Caches/</string>
					<string>/Library/Caches/GeoServices/</string>
					<string>/Library/Caches/com.apple.geod/</string>
					<string>/Library/Caches/MapTiles/</string>
					<string>/Library/Application Support/CallHistoryDB/</string>
				</array>
				<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
				<array>
					<string>com.apple.Maps.mapspushd.geoservices</string>
					<string>com.apple.CallHistorySyncHelper</string>
					<string>com.apple.CrashReporterSupportHelper</string>
				</array>
				<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
				<array>
					<string>com.apple.GEO</string>
				</array>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.geod</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/HelpData.framework/Versions/A/Resources/helpd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>com.apple.helpd</string>
				<key>com.apple.corespotlight.privateindex.unsandboxed</key>
				<true/>
				<key>com.apple.private.apd.can-use-auth-agent</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.helpd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/Users/tim/Library/Application Support/Syncthing-macOS/syncthing</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Developer ID Application: Jakob Borg (LQE5SYM783)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureIdentifier</key>
			<string>syncthing</string>
			<key>signatureSigner</key>
			<integer>3</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/sbin/mount_nfs</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureIdentifier</key>
			<string>com.apple.mount_nfs</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/bin/curl</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureIdentifier</key>
			<string>com.apple.curl</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/usr/bin/sntp</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.sntp</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/libexec/adprivacyd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>com.apple.iad-cloudkit</string>
				<key>aps-connection-initiate</key>
				<true/>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.MobileAsset.SearchAds.AppVector</key>
				<true/>
				<key>com.apple.accounts.appleaccount.fullaccess</key>
				<true/>
				<key>com.apple.accounts.idms.fullaccess</key>
				<true/>
				<key>com.apple.application-identifier</key>
				<string>com.apple.iad-cloudkit</string>
				<key>com.apple.authkit.client.internal</key>
				<true/>
				<key>com.apple.coreduetd.allow</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.itunesstored.private</key>
				<true/>
				<key>com.apple.launchservices.clearadvertisingid</key>
				<true/>
				<key>com.apple.managedconfiguration.profiled-access</key>
				<true/>
				<key>com.apple.private.applemediaservices</key>
				<true/>
				<key>com.apple.private.aps-connection-initiate</key>
				<true/>
				<key>com.apple.private.cloudkit.masquerade</key>
				<true/>
				<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
				<dict>
					<key>com.apple.iad-cloudkit-secure</key>
					<string>com.apple.iad-cloudkit</string>
				</dict>
				<key>com.apple.private.cloudkit.setEnvironment</key>
				<true/>
				<key>com.apple.private.cloudkit.systemService</key>
				<true/>
				<key>com.apple.private.iad.opt-in-control</key>
				<true/>
				<key>com.apple.private.security.storage.adprivacyd</key>
				<true/>
				<key>com.apple.private.tcc.allow</key>
				<array>
					<string>kTCCServiceLiverpool</string>
				</array>
				<key>keychain-access-groups</key>
				<array>
					<string>apple</string>
				</array>
				<key>seatbelt-profiles</key>
				<array>
					<string>adtrackingd</string>
				</array>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.ap.adprivacyd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/usr/libexec/mobileactivationd</key>
	<dict>
		<key>action</key>
		<integer>0</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.icloud.findmydeviced.access</key>
				<true/>
				<key>com.apple.keystore.access-keychain-keys</key>
				<true/>
				<key>com.apple.keystore.sik.access</key>
				<true/>
				<key>com.apple.mobileactivationd.bridge</key>
				<true/>
				<key>com.apple.private.RemoteServiceDiscovery.device-admin</key>
				<true/>
				<key>com.apple.private.applecredentialmanager.allow</key>
				<true/>
				<key>com.apple.security.attestation.access</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.mobileactivationd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/usr/libexec/mount_url</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureIdentifier</key>
			<string>com.apple.mount_url</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/libexec/nsurlsessiond</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.coreduetd.allow</key>
				<true/>
				<key>com.apple.duet.activityscheduler.allow</key>
				<true/>
				<key>com.apple.networkd.configure_connection_pool</key>
				<true/>
				<key>com.apple.networkd.join_connection_pool</key>
				<true/>
				<key>com.apple.networkd.set_account_identifier</key>
				<true/>
				<key>com.apple.private.CacheDelete</key>
				<array>
					<string>CLIENT_ENTITLEMENT</string>
					<string>PURGEABLE_ENTITLEMENT</string>
					<string>PURGE_ENTITLEMENT</string>
					<string>CANCEL_PURGE_ENTITLEMENT</string>
					<string>SERVICE_ENTITLEMENT</string>
				</array>
				<key>com.apple.private.dark-wake-network-reachability</key>
				<true/>
				<key>com.apple.private.network.socket-delegate</key>
				<true/>
				<key>com.apple.private.security.storage.containers</key>
				<true/>
				<key>com.apple.rootless.storage.com.apple.MobileAsset.DuetExpertCenterAsset</key>
				<true/>
				<key>com.apple.rootless.storage.nsurlsessiond</key>
				<true/>
				<key>com.apple.usermanagerd.persona.background</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.nsurlsessiond</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/usr/libexec/syspolicyd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.private.iokit.nvram-panicmedic</key>
				<true/>
				<key>com.apple.private.managedclient.configurationprofiles</key>
				<true/>
				<key>com.apple.private.security.storage.SystemPolicyConfiguration</key>
				<true/>
				<key>com.apple.private.storagekitd.info</key>
				<true/>
				<key>com.apple.private.syspolicy.perform-evaluations</key>
				<true/>
				<key>com.apple.private.tcc.allow</key>
				<array>
					<string>kTCCServiceSystemPolicyAllFiles</string>
				</array>
				<key>com.apple.private.tcc.manager</key>
				<true/>
				<key>com.apple.private.xprotect</key>
				<true/>
				<key>com.apple.rootless.storage.SystemPolicyConfiguration</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.syspolicyd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/usr/libexec/timed</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.CommCenter.fine-grained</key>
				<array>
					<string>spi</string>
				</array>
				<key>com.apple.adjtime</key>
				<true/>
				<key>com.apple.nano.nanoregistry</key>
				<true/>
				<key>com.apple.nano.nanoregistry.pairunpairobliterate</key>
				<true/>
				<key>com.apple.private.ids.messaging</key>
				<array>
					<string>com.apple.private.alloy.timesync</string>
					<string>com.apple.private.alloy.fetimesync</string>
				</array>
				<key>com.apple.private.ids.messaging.high-priority</key>
				<array>
					<string>com.apple.private.alloy.timesync</string>
					<string>com.apple.private.alloy.fetimesync</string>
				</array>
				<key>com.apple.private.settime</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
				<key>com.apple.security.system-groups</key>
				<array>
					<string>systemgroup.com.apple.osanalytics</string>
				</array>
				<key>com.apple.tzlink.allow</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.timed</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/usr/libexec/trustd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>com.apple.trustd</string>
				<key>com.apple.application-identifier</key>
				<string>com.apple.trustd</string>
				<key>com.apple.private.assets.accessible-asset-types</key>
				<array>
					<string>com.apple.MobileAsset.PKITrustSupplementals</string>
					<string>com.apple.MobileAsset.SecExperimentAssets</string>
				</array>
				<key>com.apple.private.keychain.certificates</key>
				<true/>
				<key>com.apple.private.necp.match</key>
				<true/>
				<key>com.apple.private.network.delegation-whitelist</key>
				<true/>
				<key>com.apple.private.network.socket-delegate</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.trustd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/local/Cellar/git/2.26.0/libexec/git-core/git-remote-http</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>hash</key>
		<string>58AF332C605C3C342C84407603B47D9C39976D938854F74C0070A94D7CC297DC</string>
		<key>signingInfo</key>
		<dict>
			<key>signatureStatus</key>
			<integer>-67062</integer>
		</dict>
		<key>type</key>
		<integer>3</integer>
		<key>user</key>
		<integer>501</integer>
	</dict>
	<key>/usr/sbin/automount</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureIdentifier</key>
			<string>com.apple.automount</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/sbin/mDNSResponder</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureEntitlements</key>
			<dict>
				<key>com.apple.BTServer.allowRestrictedServices</key>
				<true/>
				<key>com.apple.BTServer.appleMfgDataAdvertising</key>
				<true/>
				<key>com.apple.BTServer.appleMfgDataScanner</key>
				<true/>
				<key>com.apple.BTServer.le.att</key>
				<true/>
				<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
				<true/>
				<key>com.apple.SystemConfiguration.trailing-edge-agent</key>
				<true/>
				<key>com.apple.mDNSResponder_Helper</key>
				<true/>
				<key>com.apple.networkd_privileged</key>
				<true/>
				<key>com.apple.private.SCNetworkConnection-proxy-user</key>
				<true/>
				<key>com.apple.private.necp.match</key>
				<true/>
				<key>com.apple.private.network.awdl.restricted</key>
				<true/>
				<key>com.apple.private.network.delegation-whitelist</key>
				<true/>
				<key>com.apple.private.network.reserved-port</key>
				<true/>
				<key>com.apple.private.network.socket-delegate</key>
				<true/>
				<key>com.apple.private.snhelper</key>
				<true/>
				<key>com.apple.private.validated-resolver</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
				<key>com.apple.wifi.manager-access</key>
				<true/>
				<key>com.apple.wifip2pd</key>
				<true/>
			</dict>
			<key>signatureIdentifier</key>
			<string>com.apple.mDNSResponder</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/sbin/ocspd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>signingInfo</key>
		<dict>
			<key>signatureAuthorities</key>
			<array>
				<string>Software Signing</string>
				<string>Apple Code Signing Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>signatureIdentifier</key>
			<string>com.apple.ocspd</string>
			<key>signatureSigner</key>
			<integer>1</integer>
			<key>signatureStatus</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
